# Virtual Environment
venv/
venv2/
.venv/
env/
ENV/
bin/
lib/
share/
Include/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# OS system files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Project Specific
reports/exports/
dataset/
model/
config.json

# Temporary / Debug
tb.txt
out*.txt
pdf_err*.txt
freeze_out.txt
test_*.py